header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px;

  a:hover {
    text-decoration: none;
  }

  .header-icon-wrapper {
      position: absolute;
      left: -60px;
      top: 0;
      transition: left $transition-duration ease-in-out;

      .toggle-back, .toggle-nav {
        display: inline-block;
        padding: 0 10px;
      }
  }

  .header-icon {
    width: 44px;
    height: 60px;

    &:hover {
      cursor: pointer;
    }
    
  }

  h2 {
    margin-left: -20px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
  }

  .first-name {
    color: $font-color-light;
  }

  .last-name {
    transition: color $transition-duration ease-in-out;
  }

  &.show-menu {

    .last-name {
      color: $font-color-light;
      transition: color 0.3s ease-in-out;
    }
  }

}
