header {
  position: fixed;
  z-index: 1;
  width: 100vw;

  h2 {
    margin-left: -20px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }

  .first-name {
    color: #fff;
  }

}
