header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px;

  a:hover {
    text-decoration: none;
  }

  .menu-icon {
    width: 44px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    .circle {
      fill: #fff;
      stroke: #fff;
    }
    .line {
      fill: none;
      stroke: $panel-1;
      stroke-width:2px;
      stroke-linecap: round;
      transition: stroke 0.6s ease-in-out;
    }
  }

  h2 {
    margin-left: -20px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
  }

  .first-name {
    color: $font-color-light;
  }

  .last-name {
    color: $panel-1;
    transition: color 0.6s;
  }

  &.show-menu {

    .last-name {
      color: $font-color-light;
      transition: color 0.6s ease-in-out;
    }

  }

  &.show-page {

    .last-name {
      color: $font-color-light;
      transition: color 0.6s ease-in-out;
    }

  }

}
