.dot-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;

  li a {
    font-size: 10px;
    opacity: 0.6;
    cursor: pointer;
    color: $panel-1;
    transition: color 0.6s ease-in-out;


    &:hover {
      opacity: 1;
      transition: opacity 500ms;

      i {
        transform: scale(1.4);
      }
    }
  }

  .active-dot {
    opacity: 1;
  }
}
