.panel-1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(/Users/lcecil/side-projects/portfolio/images/panel-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  section {
    // display: table;
    position: relative;
    width: 50vw;
    height: 100vh;
    padding: 2em 2em;
    background-color: rgba(86, 142, 163, 0.8);
  }

  .content-wrapper {
    // display: table-cell;
    position: relative;
    // vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
  }

  svg {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    // height: 50%;
  }

  .text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  .arrow {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
  }

  .line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
  }

  .arrow-circle {
    opacity: 0;
    fill: #fff;
    stroke: #fff;
    stroke-width: 2;
    transition: .2s ease-in-out;
  }

  .arrow-circle:hover {
    opacity: 0.5;
  }

}
