<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>L.Cecil | UX Design/Research</title>
  <link href="../styles/normalize.css" rel="stylesheet" type="text/css">
  <link href="../styles/generated/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,600,700|Roboto+Slab" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
    <a href="#home">
      <h1>
        <span class="first-name">Laura</span>
        <span class="last-name"> Cecil</span>
      </h1>
    </a>
  </header>
  <main>
    <div class="panel panel-1">
      <section>
        <div class="content-wrapper">
          <!-- <span class="l1"></span>
          <span class="l2"></span>
          <span class="l3"></span>
          <span class="l4"></span>
          <span class="l5"></span>
          <span class="l6"></span> -->
          <h3>UX Design</h1>
          <h4>&amp;</h3>
          <h3>Research</h1>
          <!-- box-arrow overlay -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-494 21.2 152 201.6">
            <g>
              <circle class="arrow-circle" cx="-418" cy="205.9" r="16"/>
              <g>
                <line class="arrow" x1="-418" y1="213.3" x2="-407.8" y2="203.1"/>
                <line class="arrow" x1="-418" y1="213.3" x2="-428.2" y2="203.1"/>
              </g>
              <polygon class="line" points="-417.9,147.2 -493,147.2 -493,22.2 -343,22.2 -343,147.2 	"/>
              <polyline class="line" points="-417.9,147.2 -417.9,193.8 -417.9,212.3 	"/>
            </g>
          </svg>
        </div>
      </section>
    </div>
  </main>

</body>

</html>
