<script class="panel-template" data-route="/" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
      <h1 class='primary-header'><%= data %></h1>
      <h2 class='secondary-header'></h2>
      <p class='page-description'></p>
      <a href='/details' class='page-link'></a>
    </div>
  </div>
</script>

<script class="panel-template" data-route="/details" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
      <h1 class='primary-header'></h1>
      <hr class='divider' />
      <h3 class='secondary-header'></h3>
      <p class='page-description'>
      </p>
    </div>
  </div>
  <div class='page-indicator'>
    <p class='label'>
      Scroll
    </p>
    <div class='icon'>
    </div>
  </div>
</script>

<script class="page-template" data-route="/details" type="x-template">
  <div class='page-wrapper'>
    <div class='section-header'></div>
    <div class='section-content'></div>
  </div>
  <div class='portfolio-wrapper'>
    <div class='previous'>
      <div class='content-wrapper'>
        <h1 class='primary-header'></h1>
        <h2 class='secondary-header'></h2>
        <p class='page-description'>
        Read More
        </p>
      </div>
    </div>
    <div class='next'>
      <div class='content-wrapper'>
        <h1 class='primary-header'></h1>
        <h2 class='secondary-header'></h2>
        <p class='page-description'>
        Read More
        </p>
      </div>
    </div>
  </div>
  </script>
