<script id="half-panel-template" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
      <h2 class='secondary-header'><%= panel.secondaryHeader %></h2>
      <p class='page-description'><%= panel.pageDescription %></p>
      <a href='<%= panel.pageLink %>' class='page-link'>Read More</a>
    </div>
  </div>
</script>

<script id="full-panel-template" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
    <% if (panel.imgPath) { %>
      <img src='<%= panel.imgPath %>'/>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
    <% } else  { %>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
      <hr class='divider' />
      <h3 class='secondary-header'><%= panel.secondaryHeader %></h3>
      <p class='page-description'><%= panel.pageDescription %></p>
    <% } %>
    </div>
  </div>
  <div class='page-indicator'>
    <p class='label'>
      Scroll
    </p>
    <div class='icon'>
    </div>
  </div>
</script>

<script id="page-template" type="x-template">
  <div class='page-wrapper'>
    <% for (var i = 0; i < page.sections.length; ++i) { %>
      <% if (page.sections[i].sectionHeader) { %>
        <div class='section-header'><%= page.sections[i].sectionHeader %></div>
      <% } %>
      <div class='section-content'><%= page.sections[i].sectionContent %></div>
    <% } %>
  </div>
  <div class='portfolio-wrapper'>
    <div class='previous'>
      <div class='content-wrapper'>
        <h1 class='primary-header'></h1>
        <h2 class='secondary-header'></h2>
        <p class='page-description'>
        Read More
        </p>
      </div>
    </div>
    <div class='next'>
      <div class='content-wrapper'>
        <h1 class='primary-header'></h1>
        <h2 class='secondary-header'></h2>
        <p class='page-description'>
        Read More
        </p>
      </div>
    </div>
  </div>
  </script>
