<script id="home-template" type="x-template">
  <h1 class='primary-header'>UX Design</h1>
  <h2 class='secondary-header'>and Research</h2>
  <p class='page-description'>
  Techniques, methodologies, and designs for a wide range of projects and problems.
  </p>
  <a href='' class='page-link'>About Me</a>
</script>

<script id="information-architecture-template" type="x-template">
  <h1 class='primary-header'>Information</h1>
  <h2 class='secondary-header'>Architecture</h2>
  <p class='page-description'>
  Content organization and structuring is the key to a successful application or website. Think of it as a card catalog for the 21st century.
  </p>
  <a href='' class='page-link'>Read More</a>
</script>

<script id="research-methods-template" type="x-template">
  <h1 class='primary-header'>Research</h1>
  <h2 class='secondary-header'>Methods</h2>
  <p class='page-description'>
  From A/B Testing to user interviews and everything in between. Choosing the right method for the job is the name of the game here.
  </p>
  <a href='' class='page-link'>Read More</a>
</script>

<script id="visual-designs-template" type="x-template">
  <h1 class='primary-header'>Visual</h1>
  <h2 class='secondary-header'>Designs</h2>
  <p class='page-description'>
  Communicating a design is as important as creating it. Using a quick sketch or pixel perfect visual design depends on whats needed to get the job done.
  </p>
  <a href='' class='page-link'>Read More</a>
</script>

<script id="project-management-template" type="x-template">
  <h1 class='primary-header'>Project</h1>
  <h2 class='secondary-header'>Management</h2>
  <p class='page-description'>
  Agile, scrum, sprints, waterfall, kanban: whatever the buzzword of the day is, chances are Ive probably tried it.
  </p>
  <a href='' class='page-link'>Read More</a>
</script>

<script id="development-template" type="x-template">
  <h1 class='primary-header'>Front-End</h1>
  <h2 class='secondary-header'>Development</h2>
  <p class='page-description'>
  One of the my many hats, it ranges in size from beanie to ten gallon. Its more  the knowledge that I gain from wearing it that makes me a better designer.
  </p>
  <a href='' class='page-link'>Read More</a>
</script>
