/* ============================
   TYPOGRAPHY PRESETS
   ============================ */
html {
  font-size: 1em; }

body {
  overflow: hidden;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.35;
  color: #333; }
  @media screen and (min-width: 35rem) {
    body {
      font-size: 1.125em; } }
  @media screen and (min-width: 50rem) {
    body {
      font-size: 1.25em; } }

p {
  margin-bottom: 1.3em;
  font-family: "Poppins", sans-serif; }

h1 {
  font-family: "Playfair Display", serif; }

h2, h3, h4 {
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small {
  font-size: 0.75em; }

/* ============================
   GENERAL PRESETS
   ============================ */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: opacity 400ms ease-in-out; }
  a:hover {
    cursor: pointer;
    opacity: 0.8; }

button {
  background: transparent;
  border: none;
  padding: 0;
  color: #fff; }
  button:focus {
    outline: none; }
  button:hover {
    cursor: pointer; }

/* ============================
   LAYOUT PRESETS
   ============================ */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.site-wrap {
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

.line {
  stroke: #fff;
  stroke-width: 1px;
  stroke-linecap: round; }

@keyframes offset {
  100% {
    stroke-dashoffset: 0; } }
@keyframes text-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes text-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.full .panel {
  width: 100vw;
  position: relative; }
.full .dot-nav, .full .background-image {
  opacity: 0; }
.full header .last-name {
  color: #fff;
  transition: color 0.6s ease-in-out 0.6s; }
.full.full-loading .content-wrapper .text-wrapper {
  animation: text-fade-out 0.3s ease-out forwards; }
.full.full-loaded {
  overflow: auto; }
  .full.full-loaded .site-wrap {
    height: auto; }
  .full.full-loaded .header-icon-wrapper {
    left: 0; }
  .full.full-loaded .content-wrapper .text-wrapper {
    animation: text-fade-in 0.3s ease-in forwards;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    visibility: visible; }
.full.top-loading .content-wrapper, .full.top-loading .page-wrapper, .full.top-loading .contact, .full.top-loading .social {
  animation: text-fade-out 0.3s ease-in forwards; }
.full.top-loaded {
  animation: text-fade-in 0.3s ease-out forwards; }

.half .panel {
  width: 50vw;
  position: absolute; }
.half.half-loading .content-wrapper .text-wrapper {
  animation: text-fade-out 0.3s ease-out forwards;
  text-align: center;
  max-width: 60%;
  margin: 0 auto; }
.half.half-loaded .site-wrap {
  height: 100vh; }
.half.half-loaded .content-wrapper .text-wrapper {
  animation: text-fade-in 0.3s ease-in forwards;
  margin: 0 10%;
  visibility: visible; }

.nav-wrap {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.6s, visibility 0.6s; }
  .nav-wrap nav {
    height: 100vh; }
    .nav-wrap nav .menu-wrap {
      opacity: 0;
      padding: 20vh 5vw 0;
      text-align: center; }
    .nav-wrap nav .sub-menu-wrap {
      opacity: 0;
      width: 75%;
      margin: 5vh auto 0;
      text-align: center; }
    .nav-wrap nav .menu-link, .nav-wrap nav .sub-link {
      font-family: "Poppins", sans-serif;
      padding-bottom: 20px; }
    .nav-wrap nav .menu-link {
      display: block;
      text-transform: uppercase;
      font-size: 1.777em; }
    .nav-wrap nav .sub-link {
      display: inline-block;
      text-transform: capitalize;
      font-size: 1.333em;
      font-weight: 300; }
  .nav-wrap.show {
    visibility: visible;
    transform: translateY(0%); }
    .nav-wrap.show .menu-wrap, .nav-wrap.show .sub-menu-wrap {
      opacity: 1;
      transition: opacity 0.6s ease-in-out 100ms; }

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px; }
  header a:hover {
    text-decoration: none; }
  header .header-icon-wrapper {
    position: absolute;
    left: -60px;
    top: 0;
    transition: left 0.3s ease-in-out; }
    header .header-icon-wrapper .toggle-back, header .header-icon-wrapper .toggle-nav {
      display: inline-block;
      padding: 0 10px; }
  header .header-icon {
    width: 44px;
    height: 60px; }
    header .header-icon:hover {
      cursor: pointer; }
    header .header-icon.menu .line {
      opacity: 1;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
    header .header-icon.menu .line-1, header .header-icon.menu .line-3 {
      transform-origin: 0; }
    header .header-icon.menu:hover .line-1 {
      transform: translateY(-1px); }
    header .header-icon.menu:hover .line-3 {
      transform: translateY(1px); }
    header .header-icon.back {
      transition: transform 0.18s ease-in; }
    header .header-icon.back:hover {
      transform: translateX(-5px); }
  header h2 {
    margin-left: -20px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    line-height: 60px; }
  header .first-name {
    color: #fff; }
  header .last-name {
    transition: color 0.6s ease-in-out; }
  header.show-menu .last-name {
    color: #fff;
    transition: color 0.3s ease-in-out; }
  header.show-menu .header-icon.menu .line-1 {
    transform: rotate(33deg); }
  header.show-menu .header-icon.menu .line-2 {
    opacity: 0; }
  header.show-menu .header-icon.menu .line-3 {
    transform: rotate(-33deg); }

.dot-nav {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-align: center; }
  .dot-nav li:first-child .tooltip-label {
    top: 0; }
  .dot-nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 10px;
    cursor: pointer; }
    .dot-nav li a:hover i {
      opacity: 1;
      transform: scale(1.4); }
    .dot-nav li a:hover .tooltip-label {
      visibility: visible;
      opacity: 1; }
    .dot-nav li a i {
      opacity: 0.6;
      transform: scale(1);
      color: inherit;
      transition: color 0.6s ease-in-out, opacity 0.12s ease-in-out, transform 0.12s ease-in-out; }
  .dot-nav .tooltip-label {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 5px 15px;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    right: 105%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.12s ease-in-out; }
  .dot-nav .tooltip-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black; }
  .dot-nav .active-dot i {
    opacity: 1; }

@keyframes arrow-pulse {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  transition: width 0.6s ease-in-out 0.3s, background-color 0.6s ease-in-out; }
  .panel .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
    text-align: left; }
    .panel .content-wrapper .text-wrapper {
      visibility: hidden;
      margin: 0 10%; }
  .panel .primary-image {
    width: 35%; }
  .panel .primary-header {
    font-family: "Playfair Display", serif;
    font-style: italic; }
  .panel .secondary-header {
    text-transform: uppercase;
    font-weight: 200; }
  .panel .page-link {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif; }
  .panel .page-link:hover .arrow-right {
    transform: translateX(5px); }
  .panel .page-indicator .arrow-down {
    animation: arrow-pulse 1.2s ease-in-out infinite; }
  .panel .arrow-right {
    transition: transform 0.18s ease-in;
    width: 22px; }
  .panel .arrow-down {
    height: 22px; }
  .panel .label {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px; }
  .panel .divider {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 35%; }

.page {
  width: 100vw;
  background-color: #fff; }
  .page .page-wrapper {
    max-width: 60%;
    margin: 10vh auto; }
    .page .page-wrapper .section {
      padding-bottom: 5vh; }
      .page .page-wrapper .section:last-child {
        padding-bottom: 0; }
    .page .page-wrapper .section-header {
      text-transform: uppercase;
      font-weight: 300; }
    .page .page-wrapper .button-wrapper {
      text-align: center; }
    .page .page-wrapper .artifacts-button {
      text-transform: uppercase;
      padding: 1em;
      border-radius: 5px; }
  .page .primary-header {
    font-family: "Playfair Display", serif;
    font-style: italic; }
  .page .secondary-header {
    text-transform: uppercase;
    font-weight: 200; }

.tile-nav {
  overflow: hidden; }
  .tile-nav .next-tile {
    text-align: right; }
  .tile-nav .previous-tile {
    text-align: left; }
  .tile-nav .next-tile, .tile-nav .previous-tile {
    width: 50%;
    float: left;
    display: block;
    height: auto; }
    .tile-nav .next-tile:hover, .tile-nav .previous-tile:hover {
      cursor: pointer; }
      .tile-nav .next-tile:hover .arrow-left, .tile-nav .previous-tile:hover .arrow-left {
        transform: translateX(-5px); }
      .tile-nav .next-tile:hover .arrow-right, .tile-nav .previous-tile:hover .arrow-right {
        transform: translateX(5px); }
    .tile-nav .next-tile .content-wrapper, .tile-nav .previous-tile .content-wrapper {
      color: #fff;
      max-width: 70%;
      margin: 1.3em auto 0; }
      .tile-nav .next-tile .content-wrapper .primary-header, .tile-nav .previous-tile .content-wrapper .primary-header {
        font-family: "Playfair Display", serif;
        font-style: italic; }
      .tile-nav .next-tile .content-wrapper .secondary-header, .tile-nav .previous-tile .content-wrapper .secondary-header {
        text-transform: uppercase;
        font-weight: 200; }
      .tile-nav .next-tile .content-wrapper .arrow-left, .tile-nav .next-tile .content-wrapper .arrow-right, .tile-nav .previous-tile .content-wrapper .arrow-left, .tile-nav .previous-tile .content-wrapper .arrow-right {
        display: inline-block;
        width: 22px;
        transition: transform 0.18s ease-in; }
      .tile-nav .next-tile .content-wrapper .page-description, .tile-nav .previous-tile .content-wrapper .page-description {
        display: inline-block;
        text-transform: uppercase; }

.background-image {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.6s ease-in-out; }
  .background-image.show {
    display: block; }
  .background-image svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh; }
    .background-image svg .stroke {
      fill: none;
      stroke: #bbb;
      animation: offset 3s linear forwards;
      stroke-width: 3; }
  .background-image .background-1 .stroke {
    stroke-dasharray: 3345;
    stroke-dashoffset: 3345; }
  .background-image .background-2 .stroke {
    stroke-dasharray: 3600;
    stroke-dashoffset: 3600; }
  .background-image .background-3 .stroke {
    stroke-dasharray: 4300;
    stroke-dashoffset: 4300; }
  .background-image .background-4 .stroke {
    stroke-dasharray: 4600;
    stroke-dashoffset: 4600; }
  .background-image .background-5 .stroke {
    stroke-dasharray: 3345;
    stroke-dashoffset: 3345; }
  .background-image .background-6 .stroke {
    stroke-dasharray: 6650;
    stroke-dashoffset: 6650; }

.overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0; }
  .overlay.show {
    display: block; }

footer .contact, footer .social {
  text-align: center;
  padding: 5vh 0; }
footer .contact .primary-header {
  font-style: italic;
  padding: 10px 0; }
footer .contact a {
  display: block;
  color: #333;
  padding: 10px 0; }
  footer .contact a .email {
    font-weight: 300; }
footer .social {
  background-color: #666; }
  footer .social .social-icons, footer .social .copyright {
    padding: 10px 0; }
  footer .social .copyright {
    color: #fff;
    font-weight: 300; }
  footer .social .fa {
    vertical-align: middle; }

@keyframes home-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(36, 123, 160, 0.8); } }
@keyframes home-menu-fade-in {
  0% {
    background-color: rgba(36, 123, 160, 0.8); }
  100% {
    background-color: none; } }
.home-theme .panel {
  background-color: rgba(36, 123, 160, 0.8); }
.home-theme .dot-nav li a i {
  color: rgba(36, 123, 160, 0.8); }
.home-theme .last-name {
  color: rgba(36, 123, 160, 0.8); }
.home-theme .previous-tile {
  background-color: rgba(81, 193, 175, 0.8); }
.home-theme .next-tile {
  background-color: rgba(245, 95, 92, 0.8); }
.home-theme .previous-overlay {
  background-color: #51c1af; }
.home-theme .next-overlay {
  background-color: #f55f5c; }
.home-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(36, 123, 160, 0.8);
  background-color: #fff;
  color: rgba(36, 123, 160, 0.8); }
.home-theme .artifacts-button:hover {
  background-color: rgba(36, 123, 160, 0.8);
  color: #fff; }
.home-theme.full.full-loaded header {
  animation: home-page-fade-in 0.6s ease-in forwards; }
.home-theme.full.full-loaded .show-menu {
  animation: home-menu-fade-in 0.3s ease-in-out forwards; }

@keyframes info-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(245, 95, 92, 0.8); } }
@keyframes info-menu-fade-in {
  0% {
    background-color: rgba(245, 95, 92, 0.8); }
  100% {
    background-color: none; } }
.information-architecture-theme .panel {
  background-color: rgba(245, 95, 92, 0.8); }
.information-architecture-theme .dot-nav li a i {
  color: rgba(245, 95, 92, 0.8); }
.information-architecture-theme .last-name {
  color: rgba(245, 95, 92, 0.8); }
.information-architecture-theme .previous-tile {
  background-color: rgba(36, 123, 160, 0.8); }
.information-architecture-theme .next-tile {
  background-color: rgba(39, 48, 67, 0.8); }
.information-architecture-theme .previous-overlay {
  background-color: #247ba0; }
.information-architecture-theme .next-overlay {
  background-color: #273043; }
.information-architecture-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(245, 95, 92, 0.8);
  background-color: #fff;
  color: rgba(245, 95, 92, 0.8); }
.information-architecture-theme .artifacts-button:hover {
  background-color: rgba(245, 95, 92, 0.8);
  color: #fff; }
.information-architecture-theme.full.full-loaded header {
  animation: info-page-fade-in 0.6s ease-in forwards; }
.information-architecture-theme.full.full-loaded .show-menu {
  animation: info-menu-fade-in 0.3s ease-in-out forwards; }

@keyframes research-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(39, 48, 67, 0.8); } }
@keyframes research-menu-fade-in {
  0% {
    background-color: rgba(39, 48, 67, 0.8); }
  100% {
    background-color: none; } }
.research-methods-theme .panel {
  background-color: rgba(39, 48, 67, 0.8); }
.research-methods-theme .dot-nav li a i {
  color: rgba(39, 48, 67, 0.8); }
.research-methods-theme .last-name {
  color: rgba(39, 48, 67, 0.8); }
.research-methods-theme .previous-tile {
  background-color: rgba(245, 95, 92, 0.8); }
.research-methods-theme .next-tile {
  background-color: rgba(237, 174, 73, 0.8); }
.research-methods-theme .previous-overlay {
  background-color: #f55f5c; }
.research-methods-theme .next-overlay {
  background-color: #edae49; }
.research-methods-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(39, 48, 67, 0.8);
  background-color: #fff;
  color: rgba(39, 48, 67, 0.8); }
.research-methods-theme .artifacts-button:hover {
  background-color: rgba(39, 48, 67, 0.8);
  color: #fff; }
.research-methods-theme.full.full-loaded header {
  animation: research-page-fade-in 0.6s ease-in forwards; }
.research-methods-theme.full.full-loaded .show-menu {
  animation: research-menu-fade-in 0.3s ease-in-out forwards; }

@keyframes visual-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(237, 174, 73, 0.8); } }
@keyframes visual-menu-fade-in {
  0% {
    background-color: rgba(237, 174, 73, 0.8); }
  100% {
    background-color: none; } }
.visual-designs-theme .panel {
  background-color: rgba(237, 174, 73, 0.8); }
.visual-designs-theme .dot-nav li a i {
  color: rgba(237, 174, 73, 0.8); }
.visual-designs-theme .last-name {
  color: rgba(237, 174, 73, 0.8); }
.visual-designs-theme .previous-tile {
  background-color: rgba(39, 48, 67, 0.8); }
.visual-designs-theme .next-tile {
  background-color: rgba(89, 60, 132, 0.8); }
.visual-designs-theme .previous-overlay {
  background-color: #273043; }
.visual-designs-theme .next-overlay {
  background-color: #593c84; }
.visual-designs-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(237, 174, 73, 0.8);
  background-color: #fff;
  color: rgba(237, 174, 73, 0.8); }
.visual-designs-theme .artifacts-button:hover {
  background-color: rgba(237, 174, 73, 0.8);
  color: #fff; }
.visual-designs-theme.full.full-loaded header {
  animation: visual-page-fade-in 0.6s ease-in forwards; }
.visual-designs-theme.full.full-loaded .show-menu {
  animation: menu-fade-in 0.3s ease-in-out forwards; }

@keyframes project-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(89, 60, 132, 0.8); } }
@keyframes project-menu-fade-in {
  0% {
    background-color: rgba(89, 60, 132, 0.8); }
  100% {
    background-color: none; } }
.project-management-theme .panel {
  background-color: rgba(89, 60, 132, 0.8); }
.project-management-theme .dot-nav li a i {
  color: rgba(89, 60, 132, 0.8); }
.project-management-theme .last-name {
  color: rgba(89, 60, 132, 0.8); }
.project-management-theme .previous-tile {
  background-color: rgba(237, 174, 73, 0.8); }
.project-management-theme .next-tile {
  background-color: rgba(81, 193, 175, 0.8); }
.project-management-theme .previous-overlay {
  background-color: #edae49; }
.project-management-theme .next-overlay {
  background-color: #51c1af; }
.project-management-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(89, 60, 132, 0.8);
  background-color: #fff;
  color: rgba(89, 60, 132, 0.8); }
.project-management-theme .artifacts-button:hover {
  background-color: rgba(89, 60, 132, 0.8);
  color: #fff; }
.project-management-theme.full.full-loaded header {
  animation: project-page-fade-in 0.6s ease-in forwards; }
.project-management-theme.full.full-loaded .show-menu {
  animation: project-menu-fade-in 0.3s ease-in-out forwards; }

@keyframes dev-page-fade-in {
  0% {
    background-color: none; }
  100% {
    background-color: rgba(81, 193, 175, 0.8); } }
@keyframes dev-menu-fade-in {
  0% {
    background-color: rgba(81, 193, 175, 0.8); }
  100% {
    background-color: none; } }
.development-theme .panel {
  background-color: rgba(81, 193, 175, 0.8); }
.development-theme .dot-nav li a i {
  color: rgba(81, 193, 175, 0.8); }
.development-theme .last-name {
  color: rgba(81, 193, 175, 0.8); }
.development-theme .previous-tile {
  background-color: rgba(89, 60, 132, 0.8); }
.development-theme .next-tile {
  background-color: rgba(36, 123, 160, 0.8); }
.development-theme .previous-overlay {
  background-color: #593c84; }
.development-theme .next-overlay {
  background-color: #247ba0; }
.development-theme .artifacts-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid rgba(81, 193, 175, 0.8);
  background-color: #fff;
  color: rgba(81, 193, 175, 0.8); }
.development-theme .artifacts-button:hover {
  background-color: rgba(81, 193, 175, 0.8);
  color: #fff; }
.development-theme.full.full-loaded header {
  animation: dev-page-fade-in 0.6s ease-in forwards; }
.development-theme.full.full-loaded .show-menu {
  animation: dev-menu-fade-in 0.3s ease-in-out forwards; }

/*# sourceMappingURL=styles.css.map */
