@keyframes home-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $panel-1;
    }
}

@keyframes home-menu-fade-in {
  0% {
    background-color: $panel-1;
  }
  100% {
    background-color: none;
  }
}

.home-theme{

  .panel {
    background-color: $panel-1;
  }

  .dot-nav li a {
    color: $panel-1;
  }

  .last-name {
    color: $panel-1;
  }

  .previous {
    background-color: $panel-6;
  }

  .next {
    background-color: $panel-2;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
      animation: home-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: home-menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
