@keyframes info-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $panel-2;
    }
}

@keyframes info-menu-fade-in {
  0% {
    background-color: $panel-2;
  }
  100% {
    background-color: none;
  }
}

.information-architecture-theme {

  .panel {
    background-color: $panel-2;
  }

  .dot-nav li a {
    color: $panel-2;
  }

  .last-name {
    color: $panel-2;
  }

  .previous {
    background-color: $panel-1;
  }

  .next {
    background-color: $panel-3;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: info-page-fade-in $transition-duration ease-in forwards;
      }

    .show-menu {
      animation: info-menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
