.development-theme {

  .panel {
    background-color: $panel-6;
  }

  .dot-nav a {
    color: $panel-6;
    transition: color 0.6s;
  }

  .last-name {
    color: $panel-6;
    transition: color 0.6s;
  }

}
