@keyframes project-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $panel-5;
    }
}

.project-management-theme {

  .panel {
    background-color: $panel-5;
  }

  .dot-nav li a {
    color: $panel-5;
  }

  .last-name {
    color: $panel-5;
  }

  .previous {
    background-color: $panel-4;
  }

  .next {
    background-color: $panel-6;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: project-fade-in $transition-duration ease-in forwards;
    }
  }
}
