@keyframes research-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $panel-3;
    }
}

@keyframes research-menu-fade-in {
  0% {
    background-color: $panel-3;
  }
  100% {
    background-color: none;
  }
}

.research-methods-theme {

  .panel {
    background-color: $panel-3;
  }

  .dot-nav li a {
    color: $panel-3;
  }

  .last-name {
    color: $panel-3;
  }

  .previous {
    background-color: $panel-2;
  }

  .next {
    background-color: $panel-4;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: research-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: research-menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
