@keyframes visual-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $panel-4;
    }
}

@keyframes visual-menu-fade-in {
  0% {
    background-color: $panel-4;
  }
  100% {
    background-color: none;
  }
}

.visual-designs-theme {

  .panel {
    background-color: $panel-4;
  }

  .dot-nav li a {
    color: $panel-4;
  }

  .last-name {
    color: $panel-4;
  }

  .previous {
    background-color: $panel-3;
  }

  .next {
    background-color: $panel-5;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: visual-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
