@keyframes dev-page-fade-in {
    0% {
      background-color: none;
    }
    100% {
      background-color: $theme-6;
    }
}

@keyframes dev-menu-fade-in {
  0% {
    background-color: $theme-6;
  }
  100% {
    background-color: none;
  }
}

.development-theme {

  .panel {
    background-color: $theme-6;
  }

  .dot-nav li a i,
  .last-name {
    color: $link-color;
    @media screen and (min-width: $bp-tablet) {
      color: $theme-6;
    }
  }

  .previous-tile,
  .previous-overlay {
    background-color: $theme-5-hex;
  }

  .next-tile,
  .next-overlay {
    background-color: $theme-1-hex;
  }

  .artifacts-button {
    transition: background-color $button-duration ease-in-out, color $button-duration ease-in-out;
    border: 2px solid $theme-6;
    background-color: #fff;
    color: $theme-6;
  }

  .artifacts-button:hover {
    background-color: $theme-6;
    color: $font-color-light;
  }

  //Animations for full page
  &.full.full-loaded {

    header {
        animation: dev-page-fade-in $transition-duration ease-in forwards;
    }

    .show-menu {
      animation: dev-menu-fade-in $header-duration ease-in-out forwards;
    }
  }
}
