/* ============================
   NAV OVERLAY
   ============================ */
.site-wrap {
  overflow: hidden;
  transition: transform 0.6s;

  &.open {
    transform: translateX(50%);
  }
}

.nav-wrap {
  overflow: hidden;
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;

  &.nav-push {
    visibility: hidden;
    transform: translateX(-50%);
    transition: transform 0.6s, visibility 0s 0.6s;
  }

  &.open {
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.6s;
  }

  nav {
    width: 50vw;
    height: 100vh;
    background-color: $menu-background;

    li {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
    }
  }
}
