/* ============================
   PANEL 1
   ============================ */

.panel-1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background: url(/Users/lcecil/side-projects/portfolio/images/panel-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  section {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: rgba(242, 95, 92, 0.8);
    z-index: 1;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;

    .text-wrapper {
      margin: 0 10%;
    }

  }

  .secondary-header {
    text-transform: uppercase;
    font-weight: 200;
    text-align: left;
  }

  .primary-header {
    font-family: 'Playfair Display';
    font-style: italic;
    text-align: left;
  }

  #graphic-1 {
    position: absolute;
    top: 0;
    right: 0;

    .stroke {
      fill: none;
      stroke: #333;
      stroke-width: 2;
      stroke-dasharray: 3345;
      stroke-dashoffset: 3345;

      animation: offset 10s linear forwards;
    }
  }
}
