$bp-phone: 35rem;
$bp-tablet: 50rem;

$font-color-dark: #333;
$font-color-light: #fff;
$link-color: #fff;

$panel-1: rgba(36, 123, 160, 0.8);
$panel-2: rgba(245, 95, 92, 0.8);
$panel-3: rgba(50, 48, 49, 0.8);
$panel-6: rgba(255, 195, 56, 0.8);
$panel-4: rgba(112, 193, 179, 0.8);
$panel-5: rgba(7, 59, 76, 0.8);


$menu-background: rgba(0, 0, 0, 0.8);
