$bp-phone: 35rem;
$bp-tablet: 50rem;

$font-color-dark: #333;
$font-color-light: #fff;
$link-color: #fff;

$panel-1: rgba(36, 123, 160, 0.8);
$panel-2: rgba(245, 95, 92, 0.8);

$menu-background: rgba(0, 0, 0, 0.8);
