$header-duration: $transition-duration * 0.5;
$mobile-height: 42px;
$mobile-width: 26px;
$desktop-height: 60px;
$desktop-width: 44px;


header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: $mobile-height;
  @media screen and (min-width: $bp-tablet) {
    height: $desktop-height;
  }

  a:hover {
    text-decoration: none;
  }

  .header-icon-wrapper {
      position: absolute;
      left: -45px;
      top: 0;
      transition: left $header-duration ease-in-out;
      @media screen and (min-width: $bp-tablet) {
        left: -60px;
      }

      .toggle-back, .toggle-nav {
        display: inline-block;
        padding: 0 10px;
      }
  }

  .header-icon {
    width: $mobile-width;
    height: $mobile-height;
    @media screen and (min-width: $bp-tablet) {
      width: $desktop-height;
      height: $desktop-height;
    }

    &:hover {
      cursor: pointer;
    }

    &.menu {

      .line {
        opacity: 1;
        transition: transform $header-duration ease-in-out, opacity $header-duration ease-in-out;
      }

      .line-1, .line-3 {
        transform-origin: 0;
      }

    }

    &.menu:hover {

      .line-1 {
        transform: translateY(-1px);
      }

      .line-3 {
        transform: translateY(1px);
      }
    }

    &.back {
        transition: transform $arrow-duration ease-in;
    }

    &.back:hover {
      transform: translateX(-5px);
    }

  }

  h2 {
    visibility: hidden;
    @media screen and (min-width: $bp-tablet) {
      visibility: visible;
      line-height: $desktop-height;
      margin-left: -20px;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
    }
  }

  .first-name {
    color: $font-color-light;
  }

  .last-name {
    transition: color $transition-duration ease-in-out;
  }

  &.show-menu {

    .last-name {
      color: $font-color-light;
      transition: color $header-duration ease-in-out;
    }

    .header-icon.menu {

      .line-1 {
        transform: translate(2px, -1px) rotate(46deg);
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        transform: translate(2px, 1px) rotate(-47deg);
      }
    }
  }

}
