@keyframes offset {
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes color-change {
  from {
    background-color: $panel-1;
  }
  to {
    background-color: $panel-2;
  }
}

@keyframes panel-text {
  0% {
    width: 50vw;
  }

  50% {

  }

  100% {
    width: 100vw;
  }
}
