$bp-phone: 35rem;
$bp-tablet: 50rem;

$serif: 'Playfair Display', serif;
$sans-serif: 'Poppins', sans-serif;

$font-color-dark: #333;
$font-color-light: #fff;
$link-color: #fff;

$panel-1: rgba(36, 123, 160, 0.8);
$panel-2: rgba(245, 95, 92, 0.8);
$panel-3: rgba(39, 48, 67, 0.8);
$panel-4: rgba(237, 174, 73, 0.8);
$panel-5: rgba(89, 60, 132, 0.8);
$panel-6: rgba(81, 193, 175, 0.8);

$menu-background: rgba(0, 0, 0, 0.9);

$transition-duration: 0.6s;
