<script id="half-panel-template" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
      <h2 class='secondary-header'><%= panel.secondaryHeader %></h2>
      <p class='page-description'><%= panel.pageDescription %></p>
      <% if (panel.primaryHeader === 'UX Design') { %>
        <a href='<%= panel.pageLink %>' class='page-link'>About Laura
      <% } else  { %>
        <a href='<%= panel.pageLink %>' class='page-link'>Read More
      <% } %>
        <svg class="arrow-right" viewBox="0 0 11 7">
          <path class="line" d="M6.9,0.4L10,3.5"/>
          <path class="line" d="M0,3.5h10"/>
          <path class="line" d="M6.9,6.6L10,3.5"/>
        </svg>
      </a>
    </div>
  </div>
</script>

<script id="full-panel-template" type="x-template">
  <div class='content-wrapper'>
    <div class='text-wrapper'>
    <% if (panel.imgPath) { %>
      <img class='primary-image' src='<%= panel.imgPath %>'/>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
    <% } else  { %>
      <h1 class='primary-header'><%= panel.primaryHeader %></h1>
      <hr class='divider' />
      <h3 class='secondary-header'><%= panel.secondaryHeader %></h3>
      <p class='page-description'><%= panel.pageDescription %></p>
    <% } %>
      <div class='page-indicator'>
        <p class='label'>
          Scroll
        </p>
        <svg class="arrow-down" viewBox="0 0 6.9 10.4">
          <path class="line" d="M6.6,6.9L3.5,10"/>
          <path class="line" d="M3.5,0v10"/>
          <path class="line" d="M0.4,6.9L3.5,10"/>
        </svg>
      </div>
    </div>
  </div>
</script>

<script id="page-template" type="x-template">
  <div class='page-wrapper'>
    <% for (var i = 0; i < page.sections.length; ++i) { %>
      <div class='section'>
        <% if (page.sections[i].sectionHeader) { %>
          <h4 class='section-header'><%= page.sections[i].sectionHeader %></h4>
        <% } %>
        <% for (var j = 0; j < page.sections[i].sectionContent.length; ++j) { %>
          <p class='section-content'><%= page.sections[i].sectionContent[j].sectionParagraph %></p>
        <% } %>
      </div>
    <% } %>
  </div>
</script>

  <script id="tile-template" type="x-template">
    <a href='<%= previousTemplateData.panel.pageLink %>' class='previous'>
      <div class='content-wrapper'>
        <h2 class='primary-header'><%= previousTemplateData.panel.primaryHeader %></h2>
        <h3 class='secondary-header'><%= previousTemplateData.panel.secondaryHeader %></h3>
        <svg class="arrow-left" viewBox="0 0 11 7">
          <path class="line" d="M3.5,6.6L0.4,3.5"/>
          <path class="line" d="M10.4,3.5h-10"/>
          <path class="line" d="M3.5,0.4L0.4,3.5"/>
        </svg>
        <p class='page-description'>
        Read More
        </p>
      </div>
    </a>
    <a href='<%= nextTemplateData.panel.pageLink %>' class='next'>
      <div class='content-wrapper'>
        <h2 class='primary-header'><%= nextTemplateData.panel.primaryHeader %></h2>
        <h3 class='secondary-header'><%= nextTemplateData.panel.secondaryHeader %></h3>
        <p class='page-description'>
        Read More
        </p>
        <svg class="arrow-right" viewBox="0 0 11 7">
          <path class="line" d="M6.9,0.4L10,3.5"/>
          <path class="line" d="M0,3.5h10"/>
          <path class="line" d="M6.9,6.6L10,3.5"/>
        </svg>
      </div>
    </a>
  </script>
